body{
    background-color: whitesmoke;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    height: 75px;
}

.logo{
    padding-top: 10px;
    padding-left: 20px;
}

h1{
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container-1{
    background-color: white;
    margin-left: 180px;
    width: 800px;
    height: 490px;

}

.inline {
    display: inline-block;
    background: rgb(0, 195, 255);
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 7px;
    color: #fff;
    
}

.inline-1 {
    display: inline-block;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding: 7px;
    color: rgb(209, 209, 209);
}

hr{
    margin-top: 10px;
}

ul{
    margin-left: 20px;
    list-style: none;
}

li{
    font-size: 22px;
}

h2{
    font-size: 27px;
}

.triangolino{
    font-size: 12px;
}

.check{
    color: rgb(0, 255, 34);
    border: 1px solid rgb(0, 255, 34);
    border-radius: 50%; 
    font-size: 15px;   
}

.inline-3{
    font-size: 10px;
    display: inline-block;
    background: rgb(0, 195, 255);
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.cross{
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%; 
    font-size: 15px; 
}

.inline-4{
    font-size: 10px;
    display: inline-block;
    background: rgb(183, 0, 255);
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.inline-5{
    font-size: 10px;
    display: inline-block;
    background: rgb(27, 175, 106);
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.inline-6{
    font-size: 10px;
    display: inline-block;
    background: rgb(255, 157, 0);
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.inline-7{
    font-size: 10px;
    display: inline-block;
    background: rgb(213, 44, 219);
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.inline-8{
    font-size: 10px;
    display: inline-block;
    background: rgb(117, 185, 6);
    border-radius: 10px;
    padding: 7px;
    color: #fff;

}
